Welcome to {{ ansible_hostname }}

This file was created on {{ ansible_date_time.date }}
Blah blah! Go home!

Contact {{ system_manager }} if anything is wrong

{% for server in  groups['appA'] %}
 - {{ server }}
{% endfor %}
